services:
  web:
    build: 
      context: ./backend 
      network: host
      args:
        - HTTP_PROXY=${HTTP_PROXY}
        - HTTPS_PROXY=${HTTPS_PROXY}
        - NO_PROXY=${NO_PROXY}
    dns:
      - 8.8.8.8
      - 8.8.4.4
    ports:
      - "8000:8000" 
    volumes:
      - ./backend:/code 
    environment:
      - DATABASE_URL=postgresql://user:password@db/mydatabase
      - REDIS_URL=redis://cache:6379
      - SECRET_KEY=f6a4eae8565ba11f29cc40de8fb2356fdd3ef477d3773802d641101cb909c58d
      - ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_MINUTES=600
    depends_on:
      - db
      - cache
    networks:
      - cms_network

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=mydatabase
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    networks:
      - cms_network

  cache:
    image: redis:7
    networks:
      - cms_network

volumes:
  postgres_data:

networks:
  cms_network:
    driver: bridge
