services:
  web:
    build: 
      context: ./backend 
      network: host
    ports:
      - "8000:8000" 
    volumes:
      - ./backend:/code 
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://user:password@db/mydatabase
      - REDIS_URL=redis://cache:6379
    depends_on:
      - db
      - cache
    networks:
      - cms_network

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - cms_network

  cache:
    image: redis:7
    networks:
      - cms_network

volumes:
  postgres_data:

networks:
  cms_network:
    driver: bridge
