fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary  # Driver do PostgreSQL
redis            # Driver do Redis
bcrypt==4.0.1
passlib[bcrypt]  # Para hashing de senhas
pyjwt
pydantic[email]  # Para validação de email
python-multipart
python-jose[cryptography]