fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary  # Driver do PostgreSQL
redis            # Driver do Redis
passlib[bcrypt]  # Para hashing de senhas
python-jose[cryptography] # Para JWT
pydantic[email]  # Para validação de email